<br>
<br>
<div class="row">
    <div class="col-md-9 offset-md-1 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
  <h3>Payment Information Exchange</h3>
  <br>
  
  
      <table class="table table-striped">
  
        <thead>
    
            <tr>
                <th>Payment</th>
    
            </tr>
    
        </thead>
    
        <tbody>
    
            <tr>
    
              <tr><td><p><b>Payment Menthod  :  </b> Bank Transfer</p></td></tr>
                <tr><td> <p><b>Bank  :  </b>STS Bank</p></td></tr>
                  <tr><td><p><b>Account Owner  :  </b> Atul Shah</p></td></tr>
                  <tr><td><p><b>Account Number  :  </b> 12345678919123</p></td></tr>
                  <tr><td><p><b>Amount  :  </b> {{amount}}</p></td></tr>
                  <tr><td><p><b>Currency  :  </b> INR</p></td></tr>
    
        </tbody>
        
    
    </table>
      <br>
      <button (click)="registerCourses(username)" class="btn btn-info" style="margin-left: 10px">Done</button>
      <button (click)="cancel($event)" class="btn btn-danger" style="margin-right: 10px"><i class="fa fa-close"></i>Cancel</button>

      </div>
      </div>
    </div>
</div>

      <br>
      <br>
      <br>
      <br>
      <br>
   
  <footer class="bg-light text-center text-lg-start">
      <!-- Copyright --><div class="fixed-bottom">
      <div class="text-center p-3" style="background-color: rgba(18, 14, 14, 0.884);">
        
        <a class="text-light" href="">© 2020 Copyright: CMS.com</a>
        
      </div>
      </div>
      
      <!-- Copyright -->
    </footer>
